.Header {
    display: flex;
    justify-content: space-between; /* 양 끝과 가운데 요소들을 적절히 분배 */
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    min-height: 60px;
}

.Header .header-item {
    flex: 1; /* 기본적으로 공간을 균등하게 차지 */
    display: flex;
    align-items: center;
}

.Header .left-child {
    justify-content: flex-start; /* 왼쪽 정렬 */
}

.Header .right-child {
    justify-content: flex-end; /* 오른쪽 정렬 */
}

/* 로고 이미지 스타일 */
.Header .logo-image {
    height: 60px; /* 로고 이미지의 높이 조절 */
    cursor: pointer; /* 클릭 가능하다는 표시 */
    /* 필요시 max-width 등 추가하여 반응형 처리 */
}

.auth-links {
    width: 400px;
    display: flex;
    justify-content: flex-end;
    gap: 4px;
}

.auth-links .auth-link {
    color: black;
    text-decoration: none;
    cursor: pointer;

    /* 버튼의 기본 스타일을 제거하거나 초기화 */
    background: none; /* 배경 제거 */
    border: none; /* 테두리 제거 */
    padding: 0; /* 패딩 제거 */
    font: inherit; /* 폰트 상속 (기존 텍스트와 동일하게) */
    outline: inherit; /* 포커스 아웃라인 상속 또는 제거 (필요 시 outline: none;) */
}

.auth-link:hover {
    color: black;
}

.auth-separator {
    color: black;
    user-select: none;
}
