.Home {
    overflow-x: hidden; /* 가로 넘침 방지 */
}

.Home .body-container {
    margin: 0 260px;
}

.Home .body-container .about-button {
    border-radius: 50%;
    border: none;
}

@media screen and (max-width: 1500px) {
    .Home .body-container {
        margin: 0 180px;
    }
}

@media screen and (max-width: 1200px) {
    .Home .body-container {
        margin: 0 100px;
    }
}

@media screen and (max-width: 500px) {
    .Home .body-container {
        margin: 0 20px;
    }
}
