.Home .body-container {
    margin: 0 260px;
}

.Home .auth-links {
    width: 400px;
    display: flex;
    justify-content: flex-end;
    gap: 4px;
}

.Home .auth-links .auth-link {
    color: black;
    text-decoration: none;
    cursor: pointer;

    /* 버튼의 기본 스타일을 제거하거나 초기화 */
    background: none; /* 배경 제거 */
    border: none; /* 테두리 제거 */
    padding: 0; /* 패딩 제거 */
    font: inherit; /* 폰트 상속 (기존 텍스트와 동일하게) */
    outline: inherit; /* 포커스 아웃라인 상속 또는 제거 (필요 시 outline: none;) */
}

.auth-link:hover {
    color: black;
}

.auth-separator {
    color: black;
    user-select: none;
}
