.Modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 다른 요소들 위에 표시 */
    background-color: rgba(0, 0, 0, 0.7);
}

.Modal .modal-content {
    background: white;
    padding: 30px;
    border: 2px solid black;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.Modal .modal-content > h3 {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 20px;
}

.Modal .modal-content > p {
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.5;
}

.Modal .modal-content .modal-actions {
    display: flex;
    justify-content: center;
    gap: 15px; /* 버튼 간격 */
}

.Modal .modal-content .modal-actions .modal-button {
    cursor: pointer;
}

.modal-button.yes {
    background-color: #f44336; /* 붉은색 */
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 0px 20px;
    cursor: pointer;
}

/* "닫기" 버튼 스타일 */
.modal-button:not(.yes) {
    /* confirm 클래스가 없는 버튼 (닫기 버튼) */
    background-color: #ccc;
    border: none;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    padding: 0px 10px;
}

.modal-button:not(.yes):hover {
    background-color: #bbb;
}
