.ResultRegisterPage {
    max-width: 620px;
    box-sizing: border-box;
    margin: 80px auto;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
}

.ResultRegisterPage .happy-face {
    width: 200px;
}

.ResultRegisterPage .login-page-button {
    width: 380px;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ed1c23;
    color: white;
    border: none;
}
