.ResultPasswordChangePage {
    max-width: 620px;
    box-sizing: border-box;
    margin: 80px auto;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
}

.ResultPasswordChangePage .door-image {
    margin-top: 30px;
}

.content-wrapper > h3 {
    margin: 0;
}

.ResultPasswordChangePage .go-to-login-button {
    margin-top: 100px;
    width: 380px;
    height: 50px;
    border: none;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
