/* 공통 버튼 */
.btn {
    width: 100%;
    height: 60px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
}

.btn:active {
    transform: translateY(1px);
}
